<?xml version="1.0"?>
<!-- Describe URDF for Turtlebot Arm -->
<robot name="turtlebot_arm" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- We can configure joints velocity limit and lower/upper limits
         to allow access to different operational areas, e.g. left handed vs. right handed robot -->
    <xacro:property name="joints_vlimit" value="1.571"/>
    <xacro:property name="pan_llimit" value="-2.617"/>
    <xacro:property name="pan_ulimit" value="2.617"/>
    <xacro:property name="shoulder_llimit" value="-2.617"/>
    <xacro:property name="shoulder_ulimit" value="2.617"/>
    <xacro:property name="elbow_llimit" value="-2.617"/>
    <xacro:property name="elbow_ulimit" value="2.617"/>
    <xacro:property name="wrist_llimit" value="-1.745"/>
    <xacro:property name="wrist_ulimit" value="1.745"/>

    <!-- Included URDF Files -->   
    <xacro:include filename="$(find roboarm)/urdf/turtlebot_arm/turtlebot_arm.xacro"/>

    <!-- As we don't have here a turtlebot base, add a base_link link as its location reference -->
    <link name="base_link"/>

    <!-- Used for fixing robot to Gazebo 'base_link' -->
  <link name="world"/>

  <joint name="fixed" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
  </joint>

   <!-- Gazebo configuration for arm and cannon servos control -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/turtlebot_arm</robotNamespace>
      <legacyModeNS>true</legacyModeNS>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    </plugin>
  </gazebo>

  <xacro:macro name="servo_transmission" params="name">
    <transmission name="${name}_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <actuator name="${name}_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
      <joint name="${name}_joint">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
    </transmission>
  </xacro:macro>

  <servo_transmission name="arm_shoulder_pan"/>
  <servo_transmission name="arm_shoulder_lift"/>
  <servo_transmission name="arm_elbow_flex"/>
  <servo_transmission name="arm_wrist_flex"/>
  <servo_transmission name="gripper"/>

    <!-- Turtlebot arm macro -->
    <turtlebot_arm parent="base_link" color="White" gripper_color="Green"
                    pincher_gripper="false" turtlebot_gripper="true">
      <origin xyz="0.1 0.03 0.435"/>
    </turtlebot_arm>
</robot>
